body{
  background-color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}  

header {
  background-color: #2d3136;
  padding-top: 30px;
  width: 100%;
  color: #fff;
  font-size: 2.5em;
}

#logo{
  padding-top: 10px;
  padding-bottom: 10px;
}

.media {
  margin-left: auto;
  margin-right: auto;
}

/* ** form ** */
form {
  color: #fff;
  padding-top: 20px;
  padding-bottom: 45px;
  
}

span {
  color: #be393b;
  
}

#inputName, #inputEmail, #inputComment {
  padding: 5px; 
  border: 1px solid #4c4f53;
  border-radius: 10px;
  background-color: #2f3338;
  color: #fff;
  font-size: 1.2em;
}

#inputName[onfocus], #inputEmail[onfocus], #inputComment[onfocus] {
  background-color: #2f3136;
}

#inputName[onblur], #inputEmail[onblur], #inputComment[onblur] {
  background-color: #2f3338;
}

button[type="submit"]{
  width: 190px;
  height: 75px;
  float: right;
  border-radius: 10px;
  background-color: #be393b;
  color: #fff;
  font-size: 1em;
}
/* ** end form ** */

main  {
  padding-top: 20px;
  padding-bottom: 20px;
}

section {
  text-align: center;
  color: #767582;
  margin-top: 30px;
}

.kard-top  {
  padding: 10px;
  background-color: #4b596c;
  color: #fff;
}

.kard-body {
  background-color: #e9eef3;
  padding-bottom: 20px;
}

.kard-mail {
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px; 
}

#messages section:nth-child(even) .kard-top  {
  text-align: center;
  background-color: #58ad52;
  color: #fff;
}

#messages section:nth-child(even) .kard-body{
  background-color: #deebde;
}

#messages section:nth-child(even) .kard-mail{
  color: #58ad52;
}

footer  {
  background: #2d3136;
  color: #fff;
  padding: 10px 20px 15px 0px;
  margin-top: 25px;
}

.networks {
  margin: 20px;
}
