body{
    background-color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 2em;
}

header {
  background-color: #2d3136;
  padding-top: 30px;
  width: 100%;
}

#logo{
  padding-top: 30px;
  padding-bottom: 185px;
}

.media {
  margin-left: auto;
  margin-right: auto;
}

/* ** form ** */
form {
  color: #fff;
  padding-top: 90px;
  padding-bottom: 185px;
  
}

span {
  color: #be393b;
  
}

#inputName, #inputEmail, #inputComment {
  padding: 50px 60px; */
  /* height: 185px; */
  border: 1px solid #4c4f53;
  border-radius: 10px;
  background-color: #2f3338;
  color: #fff;
  font-size: 1em;
}

#inputName[onfocus], #inputEmail[onfocus], #inputComment[onfocus] {
  background-color: #2f3136;
}

#inputName[onblur], #inputEmail[onblur], #inputComment[onblur] {
  background-color: #2f3338;
}

button[type="submit"]{
  width: 460px;
  height: 185px;
  float: right;
  border-radius: 10px;
  background-color: #be393b;
  color: #fff;
  font-size: 1.5em;
}
/* ** end form ** */

main  {
  padding-top: 60px;
  padding-bottom: 60px;
}

section {
  text-align: center;
  color: #767582;
  margin-top: 130px;
}

.kard-top  {
  padding: 20px;
  background-color: #4b596c;
  color: #fff;
}

.kard-body {
  background-color: #e9eef3;
  padding-bottom: 100px;
}

.kard-mail {
  font-weight: bold;
  padding-top: 100px;
  padding-bottom: 100px; 
}

#messages section:nth-child(even) .kard-top  {
  text-align: center;
  background-color: #58ad52;
  color: #fff;
}

#messages section:nth-child(even) .kard-body{
  background-color: #deebde;
}

#messages section:nth-child(even) .kard-mail{
  color: #58ad52;
}

footer  {
  background: #2d3136;
  color: #000;
  padding: 80px 20px 105px 0px;
  margin-top: 175px;
}

.networks {
  margin: 50px;
}